.navBar2{

    text-align:center;
  
 
}
.alertCustomCss {

    .alert-message {
        color: white;
    }

    .alert-wrapper {
        background-color:goldenrod;
    }
  }
.home-content2{

    background-color:rgb(185, 128, 42);
    color:white;

}


page-order {
    text-align: center;

}
